<%- include('includes/header.ejs'); -%>

    <div class="container">

        <form class="addEmojiFrom" action="/add-emoji" method="post">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="icon" placeholder="icon">
            <input type="text" name="code" placeholder="code">
            <button>Add</button>
        </form>

        <div class="elements">
            <!-- map -->
            <% emojies.forEach((emoji)=>{ %>
                <div class="emoji">
                    <span class="name">
                        <%= emoji.name %>
                    </span>
                    <span class="icon">
                        <%= emoji.icon %>
                    </span>
                    <span class="code">
                        <i class="fa-solid fa-copy"></i>
                        <%= emoji.code %>
                    </span>
                </div>
                <% }) %>

                <h1>created by <%= craetedBy %></h1>

        </div>
    </div>

    <%- include('includes/footer.ejs'); -%>