<%- include('includes/header.ejs'); -%>

    <div class="container">
        <div class="elements">
            <!-- map -->
            <% emojies.forEach((emoji)=>{ %>
                <div class="emoji">
                    <span class="name">
                        <%= emoji.name %>
                    </span>
                    <span class="icon">
                        <%= emoji.icon %>
                    </span>
                    <span class="code">
                        <i class="fa-solid fa-copy"></i>
                        <%= emoji.code %>
                    </span>
                </div>
                <% }) %>

                <h1>created by <%= craetedBy %></h1>

        </div>
    </div>

    <%- include('includes/footer.ejs'); -%>